.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #0a1560;
  background-image: url(./images/back1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 110%;
}

h1 {
  margin: 50px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4.7rem;
  color: #deff0b;
}

p {
  font-size: 2rem;
  color: #fff;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

button{
  margin: 50px;
  border: 2px solid white;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  box-shadow: 3px 0 lightblue;
  background-color: black;
  font-weight: bold;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

footer {
  margin-top: 0;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  cursor: pointer;
}
